#
# Copyright (C) 2026 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

service vendor.oplus.motor-calib /vendor/bin/motor_calib
    user root
    group root
    disabled
    oneshot

on boot
    start vendor.oplus.motor-calib

    chown system system /sys/class/motor/direction
    chown system system /sys/class/motor/enable
    chown system system /sys/class/motor/speed
    chown system system /sys/class/motor/hall_data
    chown system system /sys/class/motor/hall_max_data
    chown system system /sys/class/motor/hall_calibration
    chown system system /sys/class/motor/in_calibration
    chown system system /sys/class/motor/hall_irq_count
    chown system system /sys/class/motor/move_state
    chown system system /sys/class/motor/sw_switch
    chown system system /sys/class/motor/manual2auto_switch
    chown system system /sys/class/motor/motor_test
    chown system system /sys/class/motor/force_move
    chown system system /sys/class/motor/mode
    chown system system /sys/class/motor/stop_range
    chown system system /sys/class/motor/stop_in_advance
    chmod 0666 /sys/class/motor/direction
    chmod 0666 /sys/class/motor/enable
    chmod 0666 /sys/class/motor/speed
    chmod 0666 /sys/class/motor/hall_data
    chmod 0666 /sys/class/motor/hall_max_data
    chmod 0666 /sys/class/motor/hall_calibration
    chmod 0666 /sys/class/motor/in_calibration
    chmod 0666 /sys/class/motor/hall_irq_count
    chmod 0666 /sys/class/motor/move_state
    chmod 0666 /sys/class/motor/sw_switch
    chmod 0666 /sys/class/motor/manual2auto_switch
    chmod 0666 /sys/class/motor/motor_test
    chmod 0666 /sys/class/motor/force_move
    chmod 0666 /sys/class/motor/mode
    chmod 0666 /sys/class/motor/stop_range
    chmod 0666 /sys/class/motor/stop_in_advance
