# Display
type vendor_proc_display, fs_type, proc_type;
type vendor_sysfs_graphics, sysfs_type, fs_type;

# Touchpanel (double tap to wake)
type sysfs_touchpanel, sysfs_type, fs_type;

# USB
type vendor_sysfs_usb_mode, sysfs_type, fs_type;

# Versioning
type vendor_proc_oplus_version, fs_type, proc_type;

# Camera motor
type sysfs_motor, sysfs_type, fs_type;
