type camera_helper_app, domain;

app_domain(camera_helper_app)

allow camera_helper_app app_api_service:service_manager find;
allow camera_helper_app cameraserver_service:service_manager find;

dontaudit camera_helper_app system_data_file:dir search;

dontaudit camera_helper_app default_prop:file { read open getattr };

get_prop(camera_helper_app, vendor_camera_prop)

rw_dir_file(camera_helper_app, sysfs_motor)
