type oplus_parts_app, domain;

app_domain(oplus_parts_app)

allow oplus_parts_app app_api_service:service_manager find;

dontaudit oplus_parts_app system_data_file:dir search;

allow oplus_parts_app vendor_proc_display:file rw_file_perms;
allow oplus_parts_app vendor_proc_display:dir search;

allow oplus_parts_app vendor_sysfs_graphics:dir search;
allow oplus_parts_app vendor_sysfs_graphics:file rw_file_perms;

dontaudit oplus_parts_app default_prop:file { read open getattr };
