on boot
    # Motor
    chown system system /sys/class/motor/direction
    chown system system /sys/class/motor/enable
    chown system system /sys/class/motor/hall_calibration
    chown system system /sys/class/motor/position

on post-fs-data
    # Create apex symlinked dirs
    mkdir /data/vendor/metadata_apex 0755 root system
    mkdir /data/vendor/metadata_apex/sessions 0700 root system

on property:ro.boot.prjname=*
    # Display
    setprop ro.separate.soft ${ro.boot.prjname}